* {
  font-size: 18px;
}


.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .card{
    margin: 1.5rem;
    width: 40rem;
  }
}

.languageRadioButton{
  margin-right: 2rem;
}

.info{
  right: 0;
  .form-control{
    margin-top: 1rem;
  }
}

.input-group > .form-control, .input-group > .form-select {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  //flex: 1 1 auto;
  width: 100%;
  min-width: 0;
}

.loginArea{
  width: 50%;
  position: relative;
  padding-left: 5rem;
}


.offcanvasInput{
  font-size: larger;
  width: 20rem;
}

.autorisationArea{
  display: flex;
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.registrationInputs{
  overflow: hidden;
  flex-wrap: wrap;
}

.flexContainer{
  height: 100%;
}

.itemCard{
height: 100%;
}

.rowFlex{

}

.endCard{
  margin-top: auto;
}

.editButton{
  :hover {
    color: green;
  }
}

.editButtonsColumn {
  color: black;
}

.editButtonsColumn{
  :hover{
    color: blue;
  }
}

.adminTableRow {
  cursor: pointer;
}

.adminTableRow{
  :hover{
    font-size: 18px;
  }
}

.imageHolder {
  height: 25rem;
  border: #1c1f23 2px solid;
  border-radius: 2%;
  margin-top: 5rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  .uploadBox {
    align-self: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .bi-upload {
      align-self: center;
      justify-self: center;
      width: 5rem; height: auto;
    }
  }
}

.infoInputs {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 5rem;
  justify-content: center;
  align-content: center;
}

.roomsList {
  margin-top: 5rem;
  margin-left: 5rem;
}

.descriptionArea {
  margin-top: 5rem;
  margin-left: 5rem;

  textarea {
    resize: none;
    height: 10em;
  }
}

.datePicker {
  width: 49%;
  display: inline-block;
  margin-top: 1rem;
}

.dateLabel {
  display: block;
}

.dateInput {
  width: 100%;
}

.cardImage {
  height: 100%;
  object-fit: cover;
}

.imageBox {
  display: block;
  width: 100%;
  height: 25rem;
}

.priceInput {
  margin-top: 1rem;
}

.counterBlock {
  margin-top: 1rem;
  margin-left: 40%;
  width: 50%;
  justify-items: flex-end;
  align-items: flex-end;
  button {
    margin-top: 1rem;
    width: 25%;
  }
}

.ticketsCount {
  font-size: 2rem;
}

thead{
  min-width: 100%;
}
tbody{
  min-width: 100%;
}

.clearBasketMessage {
  display: none;
}

.modalTable {
  display: block;
}

.orderRow {
  min-height: 8rem;
  border-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
  margin-bottom: 1rem;
}

.orderImage {
  width: 12rem;
  margin-bottom: 1rem;
  background-size: cover;
}

.orderSection {
  justify-self: center;
  align-self: center;
  margin-left: 2rem;
}

.widthContainer {
  min-height: 100%;
  padding-top: 2rem;
}

.orderCount {
  justify-self: flex-end;
  margin-left: auto;
}

.orderContainer {
  flex-basis: 100%;
}

.orderTitle {
  width: 30%;
}

.orderCount {
  //width: 10%;
  margin-right: 2rem;
}

.orderSum {
  width: 10%;
}

.emailRadioInput {
  margin-bottom: 1rem;
}

#profileLink {
  cursor: pointer;
}

.settingsBox {
  flex-direction: row;

}

.filtersBox {
  margin-left: auto;
  width: 25%;
}

.sortingRadioButtons {
  justify-self: center;
}

.searchInput {
  align-content: start;
  justify-self: center;
  flex-wrap: nowrap;
  width: 25%;
  display: flex;
  flex-grow: 0;
}

.input-group {
  flex-wrap: nowrap;
}

.acceptFiltersButton {
  margin-top: 1rem;
}